.DS_Store
Thumbs.db

web/db.json
web/*.log
web/public/
web/node_modules/
web/.deploy*/
web/script*.js

# Allow theme submodules but ignore other themes
web/themes/*
!web/themes/docedados
!web/themes/docedados/**/*