.rotate
  -webkit-transition all ease 0.4s
  -moz-transition all ease 0.4s
  -ms-transition all ease 0.4s
  -o-transition all ease 0.4s
  transition all ease 0.4s

  &:hover
    position relative
    -webkit-transform rotate(-20deg)
    -moz-transform rotate(-20deg)
    -ms-transform rotate(-20deg)
    -o-transform rotate(-20deg)
    transform rotate(-20deg)
    cursor pointer