
@font-face
  font-family: pirata-one
  src: url('../fonts/PirataOne/PirataOne-Regular.ttf') format('truetype')
  font-weight: normal

@font-face
  font-family: montserrat
  src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype')
  font-weight: normal

@font-face
  font-family: noto-serif
  src: url('../fonts/Noto/NotoSerif-VariableFont_wdth,wght.ttf') format('truetype')
  font-weight: normal

@font-face
  font-family: eb-garamond
  src: url('../fonts/EBGaramond/EBGaramond-VariableFont_wght.ttf') format('truetype')
  font-weight: normal
