body::before
  background: no-repeat url($background-img) $background-color
  background-size cover
  position fixed
  content ' '
  min-height 100vh
  width 100vw
  z-index -1
  opacity 0.3
  
main 
  margin 0 $margin-wide









.navbar 
  height 3rem
  line-height 4rem
  width 100%
  .container 
    width auto
    max-width 1200px
    text-align center
    margin 0 auto
    display flex
    justify-content space-between


footer
  height 4rem
  width 100%
  text-align center
